/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, section, footer {
    padding: 20px;
}

/* Estilos para escritorio grande */
@media screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}

/* Estilos para escritorio mediano */
@media screen and (min-width: 768px) and (max-width: 1199px) {
    body {
        font-size: 16px;
    }
}

/* Estilos para teléfonos */
@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
}